<script src="../../../../app/controllers/mainCtrl.js"></script>
<!-- Heading -->
<div class="row text-center">
    <div class="container">
        <h2 class="section-heading">Edit User</h2>
        <h3 class="section-subheading text-muted">This page allows you to edit a user's name.</h3>
    </div>
</div>
<!-- Heading -->

<br>


<div ng-controller="mainCtrl as reg">
   
    <form ng-submit="Update()">
        <div class="form-horizontal">
            <hr />
    
            <div class="form-group">
                <label class="control-label col-md-2"> Name</label>
                <div class="col-md-10">
                    <input type="text" name="FirstName" required class="form-control" ng-model="name" />
                </div>
            </div>
    
            <div class="form-group">
                <label class="control-label col-md-2"> Username</label>
                <div class="col-md-10">
                    <input type="text" name="FirstName" required class="form-control" ng-model="username" />
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-xl">Update</button>
    </form>

    
</div>
<br>
